@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Задания</h1>
    <div>
        <ul class="questList">
            @foreach (var v in Model.Labors)
            {
                <li><a asp-controller="Labor" asp-action="SelectLabor" asp-route-id="v.Id">@v.Title</a></li>
            }
        </ul>
    </div>
</div>
